
<div style="margin-top: 50px;">
    <h2>Nome do Repositório: @ViewBag.Nome</h2>
    <hr />
    <h3>Descrição: @ViewBag.Descricao</h3>
    <h3>Linguagem: @ViewBag.Linguagem</h3>
    <h3>Última Atualização: @ViewBag.UltimaAtualizacao</h3>
    <h3>Dono do Repositorio: @ViewBag.DonoRepositorio</h3>

    <hr />
    <h2>Colaboradores:</h2>
    <p>A requisição ao GitHub está necessitando de autenticação.</p>
</div>
